@import 'config.scss';

.buttons {
  display: flex;
  padding-right: 20px;
}

.button {
  display: flex;
  justify-content: center;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-weight: bold;
  background-color: $gray-three;
  border: none;
  border-radius: 1rem;
  padding: 0.8rem 1.3rem;
  font-size: 1.5rem;
}

.button:hover {
  transition: $transition;
  background-color: #999999;
}

.button.button_active {
	background-color: $green-one;
}

