$max-width: 1200px;
$gutter: 20px;

$black: #000;
$gray-one: #999;
$gray-two: #aaa;
$gray-three: #ccc;
$green-one: #2d2;
$green-two: #1a1;
$yellow: #fcffd2;
$pink: #cc9694;

$background-color: #ccc;
$hover-color: #aaa;

$font-title: "Roboto Mono", monospace;
$font-main: "Lora", serif;
