@import "config.scss";

// Texti 
.content__text {
	display: flex;
	flex-direction: column;
	margin-top: $normal;
	margin-bottom: $normal;
	line-height: 2;
	align-items: center;
}

.content__text p {
	width: 63vw;
	padding-bottom: $normal;
}

// Myndir
.content__image {
	display: flex;
	flex-direction: column;
	align-items: center;
}

figure {
	width: 63vw;
}

// Tilvísun
.content__quote {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: $normal 0 $normal $normal; 
	background-color: $gray-two; 
	margin-bottom: $normal;
}

.content__quote p {
	width: 65vw;
}

.content__quote cite {
	text-align: left;
	width: 63vw;
}

// Listi
.content__list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__list ul {
	width: 63vw;
}

// Kóði
.content__code {
	display: flex;
	flex-direction: column;
 	align-items: center;
}

.content__code xmp {
	width: 63vw;
}

// youtube video
.content__youtube {
	display: flex;
	padding-top: $gutter;
	padding-bottom: $gutter;
	margin-bottom: $gutter;
	justify-content: center;
}

.content__youtube iframe {
	width: 63vw;
	height: 19vh;
}

// Titlar
.content__heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content__heading h2 {
	width: 63vw;
}

@media screen and (min-width: 700px) {
	// hvað ætti að ske ?
}

@media screen and (min-width: 1200px) {
	// ???
}

@media screen and (min-width: 1500px) {
	 
}
