@import "config.scss";

// Texti 
.content__text {
	display: flex;
	flex-direction: column;
	margin-top: $gutter;
	margin-bottom: $gutter;
	line-height: 2;
}

// Myndir

// Tilvísun


// youtube video
.content__youtube {
	display: flex;
	padding-top: $gutter;
	padding-bottom: $gutter;
	margin-bottom: $gutter;
	justify-content: center;
}

.content__youtube iframe {
	width: 60vw;
	height: 19vh;
}
