@import "config.scss";

// Texti 
.content__text {
	display: flex;
	flex-direction: column;
	margin-top: $normal;
	margin-bottom: $normal;
	line-height: 2;
	align-items: center;
}

.content__text p {
	width: 63vw;
}

// Myndir

// Tilvísun
.content__quote {
	padding: $normal 0 $normal $normal; 
	background-color: $gray-two; 
	margin-bottom: $normal;
}

.content__quote p {
	width: 65vw;
}

// youtube video
.content__youtube {
	display: flex;
	padding-top: $gutter;
	padding-bottom: $gutter;
	margin-bottom: $gutter;
	justify-content: center;
}

.content__youtube iframe {
	width: 63vw;
	height: 19vh;
}


@media screen and (min-width: 700px) {
	// hvað ætti að ske ?
}

@media screen and (min-width: 1200px) {
	// ???
}

@media screen and (min-width: 1500px) {
// ????
}
