@import "config";

.header {
  display: flex;
  height: 40vh;
  flex-direction: column;
  background: url("../img/header.jpg") fixed no-repeat;
  justify-content: center;
  align-items: center;

  &__category {
    z-index: 2;
    font-family: $font-title;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    z-index: 2;
    font-family: $font-title;
    font-size: 1.5em;
    text-align: center;
  }
}

