@import "config";

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
}

.list {
  display: flex;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  position: relative;
  display: flex;
  width: 385px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: space-between;
  background-color: $gray-three;
}

.card__content {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.card.card_hidden {
  display: none;
}

.card a span{ //stylelint-disable-line
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.card__finished {
  font-size: 3em;
  font-weight: bold;
  color: $green-one;
}

@media screen and (min-width: 1200px) {
  .list {
    width: 97vw;
  }
}
@media screen and (max-width: 700px) {
  .card {
    width: 750px;
  }
}

@media screen and (max-width: 1500px) {
  .list {
    width: 80vw;
  }
}
