@import 'config.scss';

.navbar {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
  max-width: $max-width;
}

.navbuttons {
  display: flex;
  justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
  flex-direction: row;
}

