@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
}

h1 { /* stylelint-disable-line */
  font-family: $font-title;
  font-size: 48px;
}

h2 { /* stylelint-disable-line */
  font-family: $font-title;
  font-size: 32px;	
}

h3 { /* stylelint-disable-line */
  font-family: $font-title;
  font-size: 24px;
}

// import
@import 'header.scss';
@import 'buttons.scss';
@import 'nav.scss';
@import 'index.scss';
@import 'fyrirlestur.scss';
